---
- name: Configure Arista switches
  when: role == "switch"
  block:
    - name: "Configure VLANs"
      arista.eos.eos_vlans:
        config: "{{ vlans }}"
        state: overridden
      when: vlans is defined
      check_mode: "{{ compliance_mode }}"
      register: arista_vlan_result

    - name: Configure L2 interfaces
      arista.eos.eos_l2_interfaces:
        config: "{{ l2_interfaces }}"
        state: replaced
      when: l2_interfaces is defined
      check_mode: "{{ compliance_mode }}"
      register: arista_l2_interfaces_result

- name: Configure Arista routers
  when: role == "router"
  block:
    - name: Configure interface parameters
      arista.eos.eos_interfaces:
        config: "{{ interfaces }}"
        state: replaced
      when: interfaces is defined
      check_mode: "{{ compliance_mode }}"
      register: arista_interfaces_result

    - name: Configure interface L3 parameters
      arista.eos.eos_l3_interfaces:
        config: "{{ l3_interfaces }}"
        state: replaced
      when: l3_interfaces is defined
      check_mode: "{{ compliance_mode }}"
      register: arista_l3_interfaces_result
